<div class="btn-list">
  <%= link_to "Create a list", new_list_path, class:"btn-green" %>
</div>

<div class="list-container">
  <% @lists.each do |list| %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      <%= link_to list_path(list) do %>
      <%= list.name %>
</div>
      <% end %>
    <% end %>
</div>
